<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Restaurant.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-PR99H8D;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Restaurant.Properties.Settings.restaurantConnectionString"
            connectionString="Data Source=DESKTOP-PR99H8D;Initial Catalog=restaurant;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>